<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand">
        <img src="../../../../assets/img/banner-ico.png" alt="Spotiapp" width="50px"> Spotiapp
    </a>
    <button class="navbar-toggler" data-target="#spotiapp-navbar" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div id="spotiapp-navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="search">Search</a>
            </li>
        </ul>
    </div>
</nav>